##
## $Id$
##

RedirectMatch permanent jboss-sar-maven-plugin http://mojo.codehaus.org/jboss-packaging-maven-plugin
RedirectMatch permanent jboss-sar-maven-plugin/(.*)$ http://mojo.codehaus.org/jboss-packaging-maven-plugin

