##
## $Id$
##

RedirectMatch permanent jboss-sar-maven-plugin http://maven.apache.org/plugins/jboss-packaging-maven-plugin
RedirectMatch permanent jboss-sar-maven-plugin/(.*)$ http://maven.apache.org/plugins/jboss-packaging-maven-plugin/

