##
## $Id$
##

RedirectMatch permanent jboss-sar-maven-plugin http://www.mojohaus.org/jboss-packaging-maven-plugin
RedirectMatch permanent jboss-sar-maven-plugin/(.*)$ http://www.mojohaus.org/jboss-packaging-maven-plugin

