 ------
 Mail Template for an Announcement
 ------
 Robert Scholte
 ------
 ------

~~
~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~  http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.
~~

Mail Template for an Announcement

 This templates contains most of the information users expect of an announcement.\
 Replace all UPPER_CASE_TERMS with its equivalent value.
 You're free to add or skip sections, just see this as a good starting point.

*---------+--------------------------------------------------------------------+
| Subject | [ANN] PROJECT_NAME PROJECT_VERSION Released
*---------+--------------------------------------------------------------------+
| To      | mojohaus-dev@googlegroups.com, users@maven.apache.org
*---------+--------------------------------------------------------------------+

-------------------------------------------------------------------------------
Hi,

The Mojo team is pleased to announce the release of the PROJECT_NAME version PROJECT_VERSION. 

PROJECT_DESCRIPTION

PROJECT_URL

To get this update, simply specify the version in your project's plugin configuration: 

<plugin>
	<groupId>org.codehaus.mojo</groupId>
	<artifactId>PROJECT_ARTIFACTID</artifactId>
	<version>PROJECT_VERSION</version>
</plugin>

ADDITIONAL_INFORMATION

Release Notes

THE_RELEASE_NOTES_OR_REFERENCE


Enjoy,

The Mojo team.
 
YOUR_NAME

-------------------------------------------------------------------------------	 
