##
## $Id$
##

RedirectMatch permanent keytool-maven-plugin http://www.mojohaus.org/keytool/keytool-maven-plugin
RedirectMatch permanent keytool-maven-plugin/(.*)$ http://www.mojohaus.org/keytool/keytool-maven-plugin/$1
