##
## $Id$
##

RedirectMatch permanent surefire-report-maven-plugin http://maven.apache.org/plugins/maven-surefire-report-plugin
RedirectMatch permanent surefire-report-maven-plugin/(.*)$ http://maven.apache.org/plugins/maven-surefire-report-plugin/$1

